.frame{
    background-color: #65a4f9;

}
.frame::after{
    clear: both;
    display: block;
    content: '';
}
.frame div{
    float: left;}
.title{
    color: white;
    text-align: center;
    width: 15%;
    box-sizing: border-box;
}
.content{
    background-color: white;
    width: 85%;
    padding-left: 15px;
    box-sizing: border-box;
}

.content p span{
    font-weight:bold;
    margin-right: 20px;}
.content span>span{
    margin-left: 10px;
    font-weight:normal;
}
.content dd{
    margin-left: 0;
}